/* .navbar2{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    margin: 0 40px;

} */

.navbar2 {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
  padding: 10px;
  padding-bottom: 20px;
  box-sizing: border-box;
  justify-items: center;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 0px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.7s ease;
}
.navbar2 a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}
.navbar2 a:hover {
  cursor: pointer;
  color: orange;
}
.navbar2.active {
  display: grid;
  right: 0;
}
/* .navbar2.deactive {
  display: none;
} */

@media only screen and (max-width: 960px) {
  /* .navbar2 {
    display: none;
  } */
  .navbar2 {
    height: 300px;
    z-index: 100;
    position: fixed;
    top: 3rem;
    right: -100%;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    padding: 15px;
    padding-bottom: 20px;
    box-sizing: border-box;
    justify-items: left;
    width: 100%;
  }
  .navbar2 a {
    font-size: 1.3rem;
    text-decoration: none;
    color: orange;
  }
  .navbar2 a:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
  }
}
